$primary-color: #AA2C2E;
$secondary-color: #0D8BCD;
$info-color: #63BDFF;
$danger-color: #FF9900;
$error-color: #CC4C63;
$success-color: #00B55E;
$title-color: #AA2C2E;;
$grey-color: #E0E0E0;
$dark-color: #3E3E41;